body {
  padding: 1em;
  max-width: 1280px;
  margin: 0 auto;
  font: 95%/1.3 Source Sans Pro, Calibri, Arial, Verdana;
  background: white;
  color: #333;
}

* {
  box-sizing: border-box;
}

footer {
  clear: both;
  text-align: center;
  color: #808080;
  padding: 3em 0 2em 0;
}
footer span {
  color: firebrick;
}

@media screen {
  .hide-screen {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: brown;
  text-decoration: none;
}

p {
  margin: 0 0 0.5em 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media print {
  .hide-print, button {
    display: none;
  }
}

@media print, (min-width: 1070px) {
  .half {
    width: 50%;
    float: left;
  }
}

/**
 * Top of page
 */
.top-of-page {
  text-align: center;
}
.top-of-page button {
  margin: 0 1em;
}

/**
 * buttons
 */
button.add-section {
  position: relative;
  left: 17%;
  margin-left: 1em;
  top: -1em;
}
button.add-section + section {
  margin-top: -1.3em;
}

/**
 * Header styles
 */
header {
  position: relative;
  border-bottom: 2px solid #808080;
  overflow: hidden;
  padding-bottom: 1em;
  min-height: 170px;
  text-align: center;
}
header h1 {
  font-size: 2em;
}
header h1 img {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 80px;
}
header h1 small {
  display: block;
  font-size: 0.5em;
  font-weight: normal;
  color: #808080;
  margin-top: 0.5em;
}
header ul li button {
  visibility: hidden;
}
header ul li:hover button,
header ul li:focus-within button {
  visibility: visible;
}
header ul:hover li:last-child button,
header ul:focus-within li:last-child button {
  visibility: visible;
}

/**
 * Header responsive styles
 */
@media print, (min-width: 695px) {
  body {
    font-size: 130%;
  }

  header {
    text-align: left;
  }
  header h1 img {
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-bottom: 1em;
    margin-right: 0.5em;
  }
  header section {
    float: left;
    width: 60%;
  }
  header ul {
    float: right;
    width: 40%;
  }
  header ul li {
    text-align: right;
  }
}

/**
 * Section Styles
 */
.resume > section {
  clear: both;
  overflow: auto;
}
.resume > section .qr-code {
  float: right;
  width: 190px;
  text-align: right;
}
.resume > section h2 {
  padding-top: 1em;
  border-top: 3px double #dadada;
}
.resume > section h2 img {
  max-width: 90%;
}
.resume > section h2 small {
  color: #c0c0c0;
  font-size: 0.5em;
  margin-top: 0.5em;
  line-height: 1em;
  display: block;
  font-weight: normal;
}
.resume > section:first-of-type h2 {
  border-top: 3px solid #c0c0c0;
}
.resume > section .content {
  padding-top: 1.2em;
  border-top: 3px solid #c0c0c0;
}
.resume > section .content h4 {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.resume > section .section-header {
  margin-bottom: 0.5em;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}
.resume > section .section-header.orphan {
  margin: 0;
  border: none;
}
.resume > section .section-header:not(:first-child) {
  padding-top: 1em;
}
.resume > section .section-header h3 {
  font-size: 1.5em;
  text-transform: uppercase;
}
.resume > section .section-header h4 {
  font-size: 0.9em;
}
.resume > section .section-header h5 {
  font-size: 0.9em;
  font-weight: normal;
  font-style: italic;
}
.resume > section .section-header .section-date {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: none;
  font-size: 0.9em;
}
.resume > section .content .words {
  margin-bottom: 1em;
}
.resume > section .content ul {
  clear: left;
  list-style-type: square;
  margin-left: 1em;
  padding-left: 1em;
  margin-bottom: 1em;
}
.resume > section .highlight {
  margin-left: 2em;
  color: #666;
}

/**
 * Section Responsive Styles
 */
@media print, (min-width: 950px) {
  .resume > section h2 {
    float: left;
    width: 17%;
  }

  .resume > section .content {
    float: left;
    width: 83%;
    padding-left: 0.5em;
    border-left: 1px solid #dadada;
  }
}
@media print, (min-width: 640px) {
  div.words p,
  div.words ul {
    max-width: 80%;
  }
}
@media print, (min-width: 960px) {
  .resume > section .section-header .section-desc {
    float: left;
    width: 70%;
  }
  .resume > section .section-header .section-date {
    float: right;
    width: 30%;
  }
  .resume > section .section-header .section-date li {
    text-align: right;
  }

  div.words p,
  div.words ul {
    max-width: 65%;
  }
}

div.half h4 {
  margin-bottom: 1em;
}

ul.skills li em {
  color: #808080;
  font-style: normal;
  font-weight: bold;
}

.inline-skills {
  color: gray;
}

.extras img {
  margin: 1em 0;
}

.company > h2 img {
  max-width: 90%;
}
